  <div class="footer">  <!-- footer页面开始 -->
      <div class="footer_container">
        <div class="footer_top ">
            <div class="footer_top_name iconfont"><a href="">&#xe62f; 1年免费保修</a></div>
            <div class="footer_top_name iconfont"><a href="">&#xe637; 7天无理由退货</a></div>
            <div class="footer_top_name iconfont"><a href="">&#xe636; 15天免费换货</a></div>
            <div class="footer_top_name iconfont"><a href="">&#xe62a; 顺丰包邮</a></div>
            <div class="footer_top_name iconfont"><a href="">&#xe600; 110余家售后网点</a></div>
        </div>
      <div class="footer_bottom clearFix">
        <div class="footer_bottom_l1"><dl>帮助中心</dl><dt><a href="">购物指南</a></dt>
        <dt><a href="">支付方式</a></dt>
        <dt><a href="">配送方式</a></dt></div>
        <div class="footer_bottom_l1"><dl>服务支持</dl><dt><a href="">保修政策</a></dt>
        <dt><a href="">下载中心</a></dt>
        <dt><a href="">服务标准</a></dt></div>
        <div class="footer_bottom_l1"><dl>关于雷神</dl><dt><a href="">公司介绍</a></dt>
        <dt><a href="">联系我们</a></dt>
        <dt><a href="">加入雷神</a></dt></div>
        <div class="footer_bottom_l1"><dl>品牌资讯</dl><dt><a href="">营业执照</a></dt>
        <dt><a href="">新闻中心</a></dt>
        <dt><a href="">版权声明</a></dt></div>
        <div class="footer_bottom_l1"><dl>线下门店</dl><dt><a href="">售后网点</a></dt>
        <dt><a href="">线下网点</a></dt>
        <dt><a href="">雷神服务</a></dt></div>
        <div class="footer_bottom_l1"><dl>新浪微博</dl>
          <img src="<?= HL ?>image/xinlang.jpg" alt=""></div>
        <div class="footer_bottom_l1"><dl>雷神订阅号</dl>
          <img src="<?= HL ?>image/lsdy.jpg" alt="">
        </div>
        <div class="footer_bottom_l1"><dl>雷神抖音</dl>
          <img src="<?= HL ?>image/qun2.png" alt="">
        </div>
        <div class="footer_bottom_l1"><dl>雷神交流群</dl>
          <img src="<?= HL ?>image/jlq.jpg" alt="">
        </div>
          
        <div class="footer_bottom_l2">
          <p>4006-999-999</p>
          <span>周一到周五 8:00-18:00</span>
          <p>17753288195</p>
          <span>周一至周六 9：30—17:30</span>
          <button class="iconfont">&#xe642;24小时在线客服</button>
        </div>
      </div>            
      </div>
  </div>
  <div class="info">    <!-- info开始 -->
      <div class="info_container clearFix">
        <div class="info_botto_left">
            <p><a href="">以旧换新服务</a> |
            <a href="">信用卡分期购</a> |
            <a href="">企业订购</a> |
            <a href="">驱动下载</a> |
            <a href="">神游网</a> |
            <a href="">雷神增值服务</a> |
            <a href="">老用户福利</a> |
            <a href="">问题反馈</a></p>
            <span>© 2014-2020 www.leishen.cn 青岛雷神科技股份有限公司 版权所有 全国免费咨询电话：4006-999-999 鲁ICP备14015908号-1
            </span>
        </div>
        <div class="info_botto_right clearFix">
            <a href=""><img src="<?= HL ?>image/yingye.jpg" alt="">   </a>    
            <a href=""><img src="<?= HL ?>image/sm_124x47.png" alt=""></a>    
            <a href=""><img src="<?= HL ?>image/stat.png" alt="">     </a>     
        </div>
      </div>
  </div>      <!-- info结束 -->
  <div class="float_box">    <!-- 悬浮窗开始 -->
    <a href="">
      <div class="float_box_container va_middle va_show">
        <img src="<?= HL ?>image/shenyou.png" alt="">
        <div class="float_hidden">
          <p>神游游戏盒</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="float_box_container">
      <span class="iconfont">&#xe66a;</span>
      <p>神游电竞</p>
        <div class="float_hidden hidden_big">
          <img src="<?= HL ?>image/sydj_ma.png" alt="">
        </div>
      </div>
    </a>
    <a href="">
      <div class="float_box_container">
      <span class="iconfont">&#xe611;</span>
      <p>在线客服</p>
        <div class="float_hidden">
          <p>联系客服</p>
        </div>
      </div>
    </a>
    <a href="#head">
      <div class="float_box_container va_middle1">
      <span class="iconfont">&#xe61b;</span>
        <div class="float_hidden">
          <p>返回顶部</p>
        </div>
      </div>
    </a>
  </div>
