<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>雷神官网</title>
    <link rel="stylesheet" href="<?= HL ?>iconfont/iconfont.css">
    <link rel="stylesheet" href="<?= HL ?>css/firstpage.css">
    <link rel="icon" href="<?= HL ?>image/favicon.ico">
    <style>

    </style>
</head>
<body>
	<?php $this->top() ?>
	<!-- 第三行home页开始 分为上部轮播图和下部信息页面-->
	<div class="home">
    	<div class="home_slider">
    		<div class="home_slider_bg">
    			<div class="home_slider_bgimg">
    			<div class="home_slider_bgempty ">
	    		<div class="home_slider_libox ">
	    			<div class="home_slider_list">
	    				<ul>
	    					<a href="D:/wamp/www/XIA/ThunderRobot/myPage/details.php">
		    					<a href="./details.php">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							游戏笔记本
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">爆款推荐</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">高跑分系列</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">办公游戏本</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right2.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
		    					</a>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							游戏台式机
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1050Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1060</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1070Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">电竞显示器</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right3.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right4.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							游戏键鼠/耳机
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">爆款推荐</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">高跑分系列</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">办公游戏本</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							电竞箱包
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1050Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1060</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1070Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">电竞显示器</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right3.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right4.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							20显卡专区
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">爆款推荐</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">高跑分系列</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">办公游戏本</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							私人订制专区
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1050Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1060</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">GTX1070Ti</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">电竞显示器</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right3.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right4.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							GTX1060专区
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							积分商城
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    						<div class="home_slider_infobox clearFix">
					    				<div class="info_left clearFix">
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">爆款推荐</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_3.jpg" class="info_3">
					    						<span class="info_4">雷神911MT黑骑士</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">高跑分系列</span>
					    						<span class="info_2">&#xe624;</span>
					    						</a>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="homeinfo_head">
					    						<span class="info_1">办公游戏本</span>
					    						<span class="info_2">&#xe624;</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    					<a href="" class="home_cell">
					    						<img src="<?= HL ?>image/info_4.jpg" class="info_3">
					    						<span class="info_4">雷神911Air星彩版</span>
					    					</a>
					    				</div>
					    				<div class="info_right clearFix">
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    					<a href="" class="home_cell_right">
					    						<img src="<?= HL ?>image/home_right1.jpg">
					    					</a>
					    				</div>
    								</div>
		    					</li>
	    					</a>
	    					<a href="">
		    					<li class="iconfont clearFix home_list_nane">
		    						<div class="slider_list_left">
		    							免费试用
		    						</div>
		    						<div class="slider_list_right">
		    							&#xe624;
		    						</div>
		    					</li>
	    					</a>
	    				</ul>
	    			</div>
	    		</div>
	    		</div>
	    		</div>
    			</div>
    			</div>
    			
    			<div class="home_sub clearFix" >
    				<div class="home_sub_container1">
    					<ul>
    						<a href=""><li style="border-bottom:1px solid black">
    							<img src="<?= HL ?>image/change.png"><br>
    							以旧换新
    						</li></a>
    						<a href="" ><li style="border-bottom:1px solid black;border-left:1px solid black;">
    							<img src="<?= HL ?>image/download.png"><br>
    							驱动下载
    						</li></a>
    						<a href=""><li >
    							<img src="<?= HL ?>image/leishen.png"><br>
    							雷神大法
    						</li></a>
    						<a href=""><li style="border-left:1px solid black">
    							<img src="<?= HL ?>image/after.png"><br>
    							售后服务
    						</li></a>
    					</ul>
    				</div>
    				<div class="home_sub_container2">
    					<a href="./goods_detail.html"><img src="<?= HL ?>image/homeshow.gif"></a>
    				</div>
    				<div class="home_sub_container2">
    					<a href=""><img src="<?= HL ?>image/homeshow2.jpg"></a>
    				</div>
    				<div class="home_sub_container3">
    					<div class="home_news_tab">
    						<span>雷神快报</span><a href="">更多</a>
    					</div>
    					<ul>
    						<li><span>【新闻】</span><a href="">雷神游戏本荣获AWE艾普兰金口碑奖</a></li>
    						<li><span>【新闻】</span><a href="">官宣，雷神正式成为SN战队新赛季赞助...</a></li>
    						<li><span>【新闻】</span><a href="">发布会 | 雷神“光追”游戏电脑首发...</a></li>
    						<li><span>【新闻】</span><a href="">雷神粉丝联盟派对进驻长沙</a></li>
    						<li><span>【新闻】</span><a href="">雷神游戏本荣获AWE艾普兰金口碑奖</a></li>
    					</ul>
    				</div>
    			</div>
    			<div class="home_bottom ">
    				<div class="home_bottom_hot ">
    					热卖单品推荐
    				</div>
    				<div class="home_bottom_list ">
    					<ul class="clearFix">
    						<?php foreach ($data as $k => $v): ?>
    							
    						<li>
    							<a href="index.php?c=goods&a=detail&id=<?=$v['gid']?>">
    								<img src="<?= imgUrl($v['icon']) ?>"><br><br><br>
    								<span><?= $v['name'] ?></span>
    							</a><br>
    							<p><?= $v['desc']  ?></p>
    						</li>
    						
    						<?php endforeach ?>
    					</ul>
    				</div>
    			</div>
			</div>
	<!-- home界面完成() -->

	<!-- main页面开始 -->
    <div class="main">
    	<!--首页主题展示内容页-->
    	<div class="main_firstpage ">
    		<div class="main_header">
    			<div class="main_header_title">
    				游戏笔记本
    			</div>
    			<div class="main_he_right">查看全部<span class="iconfont">&#xe625;</span></div>
    			
    			<div class="main_he_right">GTX1070</div>
    			<div class="main_he_right">GTX1060</div>
    			<div class="main_he_right">GTX1050Ti</div>
    			<div class="main_he_right">GTX1050</div>
    			<div class="main_he_right">热门</div>
    		</div>
    		<div class="main_footer clearFix">
    			<div class="footer_left ">
    				<a href=""><img src="<?= HL ?>image/main1.jpg"></a>
    			</div>
    			<div class="footer_right right_1 clearFix ">

			<?php foreach ($data1 as $k1 => $v1): ?>

    				<div class="foot_right_container ">
    					<a href="index.php?c=goods&a=detail&id=<?= $v1['gid'] ?>">
    						<img src="<?= imgUrl($v1['icon']) ?>"><br>
    						<?= $v1['name'] ?>
    					</a>
    					<p><?= $v1['desc'] ?></p>
    					<span>&yen;<?= $v1['price'] ?></span><br>
    					<p><?= $v1['cnumb'] ?>人评论</p>
    					<div class="foot_comment">
							<p><?= $v1['comment'] ?></p>
							<span>来自于 <?= $v1['nickname'] ?> 的评价</span>
    					</div>
    				</div>

			<?php endforeach ?>

    			</div>
    		</div>
    	</div>
			<!-- 第一个右侧页面 --><!-- 如何实现鼠标翻页功能-->
		<!-- 第二个页面 -->
		<div class="main_firstpage ">
    		<div class="main_header">
    			<div class="main_header_title">
    				外设系列
    			</div>
    			<div class="main_he_right">查看全部<span class="iconfont">&#xe625;</span></div>
    			
    			<div class="main_he_right">键鼠套装</div>
    			<div class="main_he_right">雷神背包</div>
    			<div class="main_he_right">机械键盘</div>
    			<div class="main_he_right">雷神鼠标</div>
    			<div class="main_he_right">热门</div>
    		</div>
    		<div class="main_footer clearFix">
    			<div class="footer_left ">
    				<a href=""><div class="footer_left_pic"><img src="<?= HL ?>image/mainpic2.jpg" alt=""></div></a>
    				<a href=""><div class="footer_left_pic"><img src="<?= HL ?>image/mainpic3.jpg" alt=""></div></a>
    			</div>
    			<div class="footer_right right_1 clearFix ">
    				
				<?php foreach ($data2 as $k2 => $v2): ?>

				<div class="foot_right_container ">
					<a href="index.php?c=goods&a=detail&id=<?= $v2['gid'] ?>">
						<img src="<?= imgUrl($v2['icon']) ?>"><br>
						<?= $v2['name'] ?>
					</a>
					<p><?= $v2['desc'] ?></p>
					<span>&yen;<?= $v2['price'] ?></span><br>
					<p><?= $v2['cnumb'] ?>人评论</p>
					<div class="foot_comment">
						<p><?= $v2['comment'] ?></p>
						<span>来自于 <?= $v2['nickname'] ?> 的评价</span>
					</div>
				</div>

				<?php endforeach ?>

    			</div>
    		</div>
    	</div>
		<!-- 第二个右侧页面结束 -->


		<!-- 第三个右侧页面开始 -->
		<div class="main_firstpage ">
    		<div class="main_header">
    			<div class="main_header_title">
    				游戏台式机
    			</div>
    			<div class="main_he_right">查看全部<span class="iconfont">&#xe625;</span></div>
    			
    			<div class="main_he_right">GTX1060</div>
    			<div class="main_he_right">GTX1050Ti</div>
    			<div class="main_he_right">GTX1070Ti</div>
    			<div class="main_he_right">电竞显示器</div>
    			<div class="main_he_right">热门</div>
    		</div>
    		<div class="main_footer clearFix">
    			<div class="footer_left ">
    				<div class="footer_left_pic"><img src="<?= HL ?>image/mainpic1.jpg" alt=""></div>
    				<div class="footer_left_pic"><img src="<?= HL ?>image/mainpic4.jpg" alt=""></div>
    				
    			</div>
    			<div class="footer_right right_1 clearFix ">
 				<?php foreach ($data3 as $k3 => $v3): ?>

					<div class="foot_right_container ">
						<a href="index.php?c=goods&a=detail&id=<?= $v3['gid'] ?>">
							<img src="<?= imgUrl($v3['icon']) ?>"><br>
							<?= $v3['name'] ?>
						</a>
						<p><?= $v3['desc'] ?></p>
						<span>&yen;<?= $v3['price'] ?></span><br>
						<p><?= $v3['cnumb'] ?>人评论</p>
						<div class="foot_comment">
							<p><?= $v3['comment'] ?></p>
							<span>来自于 <?= $v3['nickname'] ?> 的评价</span>
						</div>
					</div>

				<?php endforeach ?>
    			</div>
    		</div>
    	</div>

    		<!-- 第三个右侧页面结束 -->


    		<!--增值服务页面开始-->
			<div class="service">
				<div class="service_header clearFix">
					<div class="service_header_name">
						增值服务
					</div>
				</div>
				<div class="service_choice">
					<div class="service_list"><a href=""><img src="<?= HL ?>image/hhds.jpg"><br><br>雷神游戏本原厂5年保修上门服务</a><br><br><span>&yen;399</span></div>
					<div class="service_list"><a href=""><img src="<?= HL ?>image/hhds.jpg"><br><br>雷神游戏本原厂5年保修上门服务</a><br><br><span>&yen;399</span></div>
					<div class="service_list"><a href=""><img src="<?= HL ?>image/hhds.jpg"><br><br>雷神游戏本原厂5年保修上门服务</a><br><br><span>&yen;399</span></div>
					<div class="service_list"><a href=""><img src="<?= HL ?>image/hhds.jpg"><br><br>雷神游戏本原厂5年保修上门服务</a><br><br><span>&yen;399</span></div>
					<div class="service_list"><a href=""><img src="<?= HL ?>image/hhds.jpg"><br><br>雷神游戏本原厂5年保修上门服务</a><br><br><span>&yen;399</span></div>
				</div>
			</div>
			<!-- 增值服务页面结束 -->
		<!-- 热评页面开始 -->
		<div class="hot_product ">
			<div class="hot_product_container ">
				<div class="hot_product_header ">
					热评产品
				</div>
				<div class="hot_product_list">

					<?php foreach ($data4 as $k4 => $v4): ?>
						
					<div class="hot_pr_list">
						<a href="index.php?c=goods&a=detail&id=<?= $v4['gid'] ?>">
							<img src="<?= imgUrl($v4['icon']) ?>">
						</a><br><br>
						<a href="index.php?c=goods&a=detail&id=<?= $v4['gid'] ?>#estimate">
							<?= $v4['comment'] ?>
						</a><br>
						<span>
							来自于 <?= $v4['nickname'] ?> 的评价 
						</span>
						<span> 共<?= $v4['cnumb'] ?>条评论 </span>
						<br><br>
						<a href="index.php?c=goods&a=detail&id=<?= $v4['gid'] ?>">
							<?= $v4['name'] ?>
						</a>
						<span>|</span>
						<b> ￥<?= $v4['price'] ?></b>
					</div>
					
					<?php endforeach ?>

				</div>
			</div>
		</div>
		<!-- 热评页面结束 -->
		
		<!-- 粉丝同城会页面开始 -->
		<div class="fans">
			<div class="fans_container ">
				<div class="fans_header ">
					粉丝同城会
				</div>
				<div class="fans_list">
					<div class="fans_pr_list"><a href=""><img src="<?= HL ?>image/fans.png"><br><br>雷神粉丝联盟派对进驻长沙</a></div>
					<div class="fans_pr_list"><a href=""><img src="<?= HL ?>image/1533928127460597381.png"><br><br>2018雷神Chinajoy嘉年华</a></div>
					<div class="fans_pr_list"><a href=""><img src="<?= HL ?>image/1533880258596881.jpg"><br><br>雷神粉丝派对大连站走起</a></div>
					<div class="fans_pr_list"><a href=""><img src="<?= HL ?>image/1533880427989921.jpg"><br><br>2018粉丝派对嗨畅西安</a></div>
					
				</div>
			</div>
		</div>
		<!-- 粉丝同城会页面结束 -->

		<!-- 视频页面开始 -->
		<div class="video">
			<div class="video_container ">
				<div class="video_header ">
					品牌视频专区
				</div>
				<div class="video_list">
					<div class="video_pr_list"><a href=""><img src="<?= HL ?>image/154804079544809.jpg"><br><br>雷神新品发布会</a><br><br><span>巭孬嫑烎-2019雷神新品上市发布会</span>
					<a href=""><div class="video_button iconfont">&#xe624;</div></a>
					</div>
					<div class="video_pr_list"><a href=""><img src="<?= HL ?>image/thunderobot_1.png"><br><br>雷神品牌宣传</a><br><br><span>雷神品牌宣传视频</span>
					<a href=""><div class="video_button iconfont">&#xe624;</div></a>
					</div>
					<div class="video_pr_list"><a href=""><img src="<?= HL ?>image/thunderobot_2.png"><br><br>雷神品牌态度</a><br><br><span>雷神品牌态度视频</span>
					<a href=""><div class="video_button iconfont">&#xe624;</div></a>
					</div>
					<div class="video_pr_list"><a href=""><img src="<?= HL ?>image/thunderobot_3.png"><br><br>因为雷疯</a><br><br><span>所以雷神历届粉丝会混剪视频</span>
					<a href=""><div class="video_button iconfont">&#xe624;</div></a>
					</div>
					
				</div>
			</div>
		</div>
		<!-- 视频页面结束 -->
    	</div>
    	<!--main页面结束-->
    </div>

	<?php $this->footer() ?>    
   
    

</body>
</html>