<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录_雷神官网—雷神,雷神笔记本电脑,雷神游戏本,台式机,鼠标键盘官方正品商城！</title>
    <link rel="stylesheet" href="<?=HL?>css/login.css">
    <link rel="stylesheet" href="<?=HL?>iconfont/iconfont.css">
</head>
<body>
	<div class="login">
		<div class="login_container ">
			<div class="login_toplogo">
				<a href="index.php"><img src="<?=HL?>image/logo_xin.png"></a>
			</div>
			<div class="login_titile">
				<h1>一个帐号，玩转所有雷神官网服务！</h1>
			</div>
			<div class="login_formbox">
				<form action="index.php?c=login&a=doLogin" method="post">
				<input type="text" class="name" name="nickname" placeholder="雷神账号/手机/邮箱">
				<input type="password" class="pwd" name="pwd" placeholder="密码">
				<button class="iconfont"><b>&#xe671;</b><span>点击完成验证</span></button>
				<input type="submit" value="立即登录">

				<div class="login_extroinfo clearFix">
					<div class="extroinfo_left">
						<input type="checkbox" name="che">
						<span>请保存我这次的登录信息</span>
					</div>
					<div class="extroinfo_right">
						<a href="">忘记密码? </a><span>|</span><a href="index.php?c=login&a=regist"> 注册</a>
					</div>
				</div>
				</form>
				<div class="login_bott  clearFix">
					<div class="bott_left">
						第三方登录：
					</div>
					<div class="bott_img1 bott_img "><a href="">
						<img src="<?=HL?>image/sprite_all_82.png">
					</a></div>
					<div class="bott_img2 bott_img "><a href="">
						<img src="<?=HL?>image/weixin.png">
					</a></div>
				</div>
			</div>
			
		</div>
		<div class="info_botto_left">
            <p><a href="">以旧换新服务</a> |
            <a href="">信用卡分期购</a> |
            <a href="">企业订购</a> |
            <a href="">驱动下载</a> |
            <a href="">神游网</a> |
            <a href="">雷神增值服务</a> |
            <a href="">老用户福利</a> |
            <a href="">问题反馈</a></p>
            <span>© 2014-2020 www.leishen.cn 青岛雷神科技股份有限公司 版权所有 全国免费咨询电话：4006-999-999 鲁ICP备14015908号-1
            </span>
        </div>
	</div>
</body>
</html>