<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="<?= AL ?>css/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/icons/icons.css" media="screen" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/demo.css" media="screen" />

<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/jimgareaselect/css/imgareaselect-default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/fullcalendar/fullcalendar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/tipsy/tipsy.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>plugins/spinner/spinner.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/jui/jquery.ui.css" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="<?= AL ?>css/mws.theme.css" media="screen" />

<!-- JavaScript Plugins -->

<script type="text/javascript" src="<?= AL ?>js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="<?= AL ?>plugins/jimgareaselect/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jgrowl/jquery.jgrowl.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.filestyle.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.dataTables.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="<?= AL ?>plugins/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="<?= AL ?>plugins/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/colorpicker/colorpicker.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/sourcerer/Sourcerer-1.2.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.validate.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/jquery.mousewheel.js"></script>
<script type="text/javascript" src="<?= AL ?>plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="<?= AL ?>js/jquery-ui.js"></script>

<script type="text/javascript" src="<?= AL ?>js/mws.js"></script>
<script type="text/javascript" src="<?= AL ?>js/demo.js"></script>
<script type="text/javascript" src="<?= AL ?>js/themer.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("div#mws-login .mws-login-back").mouseover(function(event) {
			$(this).find("a").animate({'left':0})
		}).mouseout(function(event) {
			$(this).find("a").animate({'left':70})
		});
	});
</script>
<style>
    .Checkbox1{
        color: #fff;
    }
</style>

<title>雷神_后台登录页面</title>

</head>

<body>

	<div id="mws-login">
    	<h1>后台登录</h1>
        <div class="mws-login-lock"><img src="<?= AL ?>css/icons/24/locked-2.png" alt="" /></div>
    	<div id="mws-login-form">
        	<form class="mws-form" action="index.php?c=login&a=doLogin" method="post">
                <div class="mws-form-row">
                	<div class="mws-form-item large">
                    	<input type="text" name="name" class="mws-login-username mws-textinput" placeholder="账号" />
                    </div>
                </div>
                <div class="mws-form-row">
                	<div class="mws-form-item large">
                    	<input type="password" name="pwd" class="mws-login-password mws-textinput" placeholder="密码" />
                    </div>
                </div>
                <label class="Checkbox1">
                      <input type="checkbox" name="che" class="form-check-input">
                      保持登录
                 </label>

                <div class="mws-form-row">
                	<input type="submit" value="登录" class="mws-button green mws-login-button" />
                </div>
            </form>
        </div>
    </div>


</body>
</html>
