<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物流程_雷神官网—雷神,雷神笔记本电脑,雷神游戏本,台式机,鼠标键盘官方正品商城！</title>
	<link rel="stylesheet" href="./iconfont/iconfont.css">
	<link rel="stylesheet" href="cart.css">
    <link rel="icon" href="image/favicon.ico">
</head>
<body>
	<div class="top">
		<div class="top_container clearFix">
			<div class="top_leftimg">
				<a href="./first_page.html"><img src="./image/logo_new.jpg"></a>
			</div>
			<div class="top_lefttitle">
				确认订单
			</div>
			<div class="top_rightcon"><a href="">我的订单</a></div>
			<span>|</span>
			<div class="top_rightcon position1 iconfont">
				<a href="./personal.html">点白 &nbsp;&#xe615;</a>
				<div class="top_rightList ">
					<div class="top_listcon"><a href="./user.html">个人中心</a></div>
					<div class="top_listcon"><a href="">我的收藏</a></div>
					<div class="top_listcon"><a href="">我的评论</a></div>
					<div class="top_listcon"><a href="">跟踪包裹</a></div>
					<div class="top_listcon"><a href="">退出登录</a></div>
				</div>
			</div>
			<span>|</span>
			<div class="top_rightcon"><a href="">签到赢好礼</a>
			</div>
		</div>
	</div>
	<div class="color">
	</div>
	<div class="main">
		<div class="main_container">
			<div class="main_tittle">
				 确认订单信息页面
			</div>
			<div class="main_resive clearFix ">
				<div class="main_resInfo num4">收货人信息</div>
				<a href=""><div class="main_resInfo num5">点白 上海</div></a>
				<div class="main_resInfo num6">点白 上海 上海 静安区 1188号</div>
				<a href="./address.html"><div class="main_resInfo num7">修改</div></a>
			</div>
			<div class="main_pay">
				<div class="main_payType clearFix">
					<a href=""><div class="main_online num8">在线支付</div></a>
					<a href=""><div class="main_online num9">在线支付</div></a>
					<a href=""><div class="main_online num10">在线支付</div></a>
					<a href=""><div class="main_online num11">在线支付</div></a>
				</div>
				<div class="main_pryDetail clearFix ">
					<a href=""><div class="main_payway "><img src="image/alipay.png"></div></a>
					<a href=""><div class="main_payway "><img src="image/wpay.png"></div></a>
				</div>
			</div>
			<div class="main_deliver ">
				<div class="main_dileverWay">
					配送方式
				</div>
				<div class="main_deliverInfo">
					<a href=""><div class="deliver_way">
						顺丰速运
					</div></a>
					<p>注：新疆、青海、西藏不包邮，请联系客服确认快递信息，否则不予发货！</p>
				</div>
			</div>
			<div class="main_goods clearFix ">
				<div class="main_goodsTittle">
					商品列表
				</div>
				<div class="main_goodsInfo1 ">
					<img src="image/hot_shop4.jpg"> 
					<a href="">雷神911黑武士A77Ti游戏主机 赠品:晒图好评送M301电竞鼠标 |</a>
				</div>
				<div class="main_goodsInfo2">10799.00</div>
				<div class="main_goodsInfo3">1</div>
				<div class="main_goodsInfo4">10799.00</div>
				<div class="main_goodsInfo5">
					<p>购物金额小计 10799.00</p>
				</div>
			</div>
			<div class="main_otherInfo">
				其他信息
			</div>
			<div class="main_info info1">
				<div class="main_infoTitle">使用优惠券</div>
				<div class="main_infoDetail1">
					<form action="">
						<span>选择已有优惠券</span>
						<select name="card" >
							<option value="none">请选择</option>
							<option value="none">满300减300优惠券[300.00]</option>
						</select>
						<span>或者输入优惠券序列号</span>
						<input type="text" name="card_numb">
						<input type="submit" value="验证优惠券" class="identified">
						
					</form>
				</div>
			</div>
			<div class="main_info info2">
				<div class="main_infoTitle">使用推广码</div>
				<div class="main_infoDetail1">
					<form action="">
						<span>输入推广码</span>
						<input type="text" name="card_code">
						<input type="submit" value="验证推广码" class="identified">
						
					</form>
				</div>
			</div>
			<div class="main_info info3">
				<div class="main_infoTitle">开发票 </div>
				<div class="main_infoDetail1">
					<form action="">
						
						<span>发票抬头</span>
						<input type="text" name="card_numb">
						<span>发票内容</span>
						<select name="card" >
							<option value="self">个人</option>
							<option value="people">增值税</option>
						</select>
						
					</form>
				</div>
			</div>
			<div class="main_info info4">
				<div class="main_infoTitle">订单附言</div>
				<div class="main_infoDetail1">
					<form action="">
						<textarea name="words"  cols="80" rows="3"></textarea>
					</form>
				</div>
			</div>
			<div class="main_shouldPay clearFix">
				<div class="main_shouldContainer ">
					<li><span>订购即送:</span><b>800 雷魂 ，以及价值 0.00的 优惠券。</b></li>
					<li><span>商品总价：</span><b>10799.00</b></li>
					<li><span>应付款金额：</span><b class="num12">10799.00</b></li>
				</div>
			</div>
			<div class="main_submit">
				<div class="main_sub clearFix">
					<form action="">
						<input type="submit" name="submit" value="提交订单">
					</form>
				</div>
			</div>
		</div>
	</div>
   	<div class="footer">
    		<div class="footer_container">
    			<div class="footer_top ">
    				<div class="footer_top_name iconfont"><a href="">&#xe62f; 1年免费保修</a></div>
    				<div class="footer_top_name iconfont"><a href="">&#xe637; 7天无理由退货</a></div>
    				<div class="footer_top_name iconfont"><a href="">&#xe636; 15天免费换货</a></div>
    				<div class="footer_top_name iconfont"><a href="">&#xe62a; 顺丰包邮</a></div>
    				<div class="footer_top_name iconfont"><a href="">&#xe600; 110余家售后网点</a></div>
    			</div>
			<div class="footer_bottom clearFix">
				<div class="footer_bottom_l1"><dl>帮助中心</dl><dt><a href="">购物指南</a></dt>
				<dt><a href="">支付方式</a></dt>
				<dt><a href="">配送方式</a></dt></div>
				<div class="footer_bottom_l1"><dl>服务支持</dl><dt><a href="">保修政策</a></dt>
				<dt><a href="">下载中心</a></dt>
				<dt><a href="">服务标准</a></dt></div>
				<div class="footer_bottom_l1"><dl>关于雷神</dl><dt><a href="">公司介绍</a></dt>
				<dt><a href="">联系我们</a></dt>
				<dt><a href="">加入雷神</a></dt></div>
				<div class="footer_bottom_l1"><dl>品牌资讯</dl><dt><a href="">营业执照</a></dt>
				<dt><a href="">新闻中心</a></dt>
				<dt><a href="">版权声明</a></dt></div>
				<div class="footer_bottom_l1"><dl>线下门店</dl><dt><a href="">售后网点</a></dt>
				<dt><a href="">线下网点</a></dt>
				<dt><a href="">雷神服务</a></dt></div>
				<div class="footer_bottom_l1"><dl>新浪微博</dl>
					<img src="image/xinlang.jpg" alt=""></div>
				<div class="footer_bottom_l1"><dl>雷神订阅号</dl>
					<img src="image/lsdy.jpg" alt="">
				</div>
				<div class="footer_bottom_l1"><dl>雷神抖音</dl>
					<img src="image/qun2.png" alt="">
				</div>
				<div class="footer_bottom_l1"><dl>雷神交流群</dl>
					<img src="image/jlq.jpg" alt="">
				</div>
					
				<div class="footer_bottom_l2">
					<p>4006-999-999</p>
					<span>周一到周五 8:00-18:00</span>
					<p>17753288195</p>
					<span>周一至周六 9：30—17:30</span>
					<button class="iconfont">&#xe642;24小时在线客服</button>
				</div>
			</div>	    			
    		</div>
   	</div>
   	<div class="info">
   			<div class="info_container clearFix">
   				<div class="info_botto_left">
   					<p><a href="">以旧换新服务</a> |
   					<a href="">信用卡分期购</a> |
   					<a href="">企业订购</a> |
   					<a href="">驱动下载</a> |
   					<a href="">神游网</a> |
   					<a href="">雷神增值服务</a> |
   					<a href="">老用户福利</a> |
   					<a href="">问题反馈</a></p>
   					<span>© 2014-2020 www.leishen.cn 青岛雷神科技股份有限公司 版权所有 全国免费咨询电话：4006-999-999 鲁ICP备14015908号-1
   					</span>
   				</div>
   				<div class="info_botto_right clearFix">
   					<a href=""><img src="image/yingye.jpg" alt="">   </a>    
   					<a href=""><img src="image/sm_124x47.png" alt=""></a>    
   					<a href=""><img src="image/stat.png" alt="">     </a>     
   				</div>
   			</div>
   	</div>
</body>
</html>







