<div id='header'>
	<div class='header_top'>
		<div class='header_top_cont'>
			<div class="left">
				<a class="sc" href="index.php">加入收藏夹</a>
				<span class="line">|</span>
				<a class="m_daq" href="index.php">触屏版</a>
				<span class="line">|</span>
				<a class="m_daq fb" href="index.php">意见反馈</a></div>
			<div class="right">
					<a class="login" href="login.php">登录</a>
					<span class="line">|</span>
					<a class="reg" href="register.php">注册</a>
			</div>
		</div>
	</div>
</div>