<div id='logo_cart'>
	<div class='header_main'>
		<div class='logo'><a href='index.php'><img src="<?= HI ?>logo.png" alt=""></a></div>
		<div class='cart'>
			<a href="">
				<span class='num'><img src="<?= HI ?>cart.png" alt="">购物车</span>
				<span > 2 </span>
			</a>
		</div>
		<div class='img'><img src="<?= HI ?>img.jpg" alt=""></div>
	</div>
	<div class='header_nav'>
		<div class="nav_title"><a href="">全部商品分类</a></div>
		<div class='nav_list'>
			<ul>
				<li><a href="">首页</a></li>
				<?php foreach ($cate as $k => $v): ?>
					<li><a href='index.php?c=goods&id=<?= $v["id"]?>'> <?= $v['name']?> </a></li>
				<?php endforeach ?>
			</ul>
		</div>
	</div>
</div>