
	/*初始化*/
body,ul,ol,li,h1,h2,h3,h4,h5,h6,button{margin:0;padding:0;}
body{font:14px 'Microsoft Yahei';min-width:1583px;max-width:100%;}
li{list-style:none;}
a{text-decoration:none;} 
a:link{color:#999999;}
   a:visited{color:#999999;}  						  
   a:hover,a:active,a:focus{color:#00eef3;}
    
    /*共用属性*/
   .bd{border:1px dashed red;}
   .bg{background:#00eef3;}
   .clearFix::before,.clearFix::after{content:' ';display:block;}
   .clearFix::after{clear:both;}
   .floatL{
    		float:left;
    	}
   .va{vertical-align:middle;}
    /*共用属性*/


    	.header1{
			height: 40px;
			width: 100%;
			background: #272727;
			margin:0 auto;
			

    	}
    	.header1 .head_container1{
    		width: 1226px;
    		height: 40px;
    		margin:0 auto;
    	}
    	.header1 .head_container1 .head_container_left1{
    		/*width: 650px;*/
    		height: 40px;
    		float:left;
    	}
    	.header1 .head_container1 .head_container_right1{
			width: 280px;
			height: 40px;
			float:right;
    	}
    	.login1{
    		width: 150px;
    		height: 40px;
    		float:left;
    	}
    	.head_container1 li{
			float:left;
			line-height:40px;
			color:#999;
		}
		.head_container1 li span{
			margin:0 4px;
		}
		.head_pic_con1{
			position:relative;
		}
		.head_pic1{
			width: 197px;
			height: 238px;
			border:1px solid #eaeaea;
			background: ##fff;
			position:absolute;
			left:90px;
			top:35px;
			z-index:9999;
			display:none;

		}

		.head_pic_con1:hover .head_pic1{
			display:block;
		}



		.head_container_right1 .shopCart1{
			width: 120px;
			height: 40px;
			float:right;
			line-height:40px;
			font-size:13px;
			background: #424242;
			text-align:center;
			position:relative;

		}
		.shop_box1{
			width: 360px;
			height: 0px;
			position:absolute;
			right:0px;
			top:40px;
			/*display:none;*/
			transition:all 0.5s;
			z-index:9999;
			font:14px;
			line-height:100px;
			background: #fff;
			overflow:hidden;
		}
		.shopCart1:hover{
			background: #000;
		}
		.shopCart1:hover .shop_box1{
			/*display:inline;*/
			height: 100px;
		}


.top_rightcon1{
  width: 100px;
  height: 40px;
  float:right;
  font-size: 12px;
  color:#999999;
  line-height: 40px;
  /*margin-top:30px;*/
  text-align:center;
	z-index:3;
}
.position1{
  position: relative;
  font-size: 12px;

}
.top_rightList1{
  width: 100px;
  height: 0px;
  background: #fff;
  position:absolute;
  left:0px;
  top:40px;
  box-shadow:0px 5px 10px #999999;
  overflow:hidden;
  transition:all .3s;
}

.top_listcon1{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align:center;
}
.top_listcon1 a{
  color: #000;
}

.position1 a:hover{
  color:#00eef3;
}
.position1:hover{
  color:#00eef3;
  background: #fff;
  box-shadow:0px 0px 10px #999999;

}
.position1:hover .top_rightList1{
  height:155px;
}




    	/*共用属性*/
    	.bd{border:1px dashed red;}
    	.bg{background:#00eef3;}
    	.clearFix::before,.clearFix::after{content:' ';display:block;}
    	.clearFix::after{clear:both;}
    	.floatL{
    		float:left;
    	}
    	.va{vertical-align:middle;}
    	/*共用属性*/
		
		.head_container1 li{
			float:left;
			line-height:40px;
			color:#999;
		}
		.head_container1 li span{
			margin:0 4px;
		}
		.head_pic_con1{
			position:relative;
		}
		.head_pic1{
			width: 197px;
			height: 238px;
			border:1px solid #eaeaea;
			background: ##fff;
			position:absolute;
			left:90px;
			top:35px;
			z-index:9999;
			display:none;

		}

		.head_pic_con1:hover .head_pic1{
			display:block;
		}

		.head_container_right1 .shopCart1{
			width: 120px;
			height: 40px;
			float:right;
			line-height:40px;
			font-size:13px;
			background: #424242;
			text-align:center;
			position:relative;

		}
		.shop_box1{
			width: 360px;
			height: 0px;
			position:absolute;
			right:0px;
			top:40px;
			/*display:none;*/
			transition:all 0.5s;
			z-index:9999;
			font:14px;
			line-height:100px;
			background: #fff;
			overflow:hidden;
		}
		.shopCart1:hover{
			background: #000;
		}
		.shopCart1:hover .shop_box1{
			/*display:inline;*/
			height: 100px;
		}

/*第二部分nav页面开始*/
.nav1{
	/*height: 150px;*/
	width: 100%;
	background: #141414;
	position:relative;

}
.nav1 .nav_top1{
	height: 92px;
	width: 1226px;
	/*background: #fff;*/
	margin:0 auto;
	margin-bottom:20px;
}
.nav1 .nav_top1 .nav_logo1{
	width: 234px;
	height: 70px;
	float:left;
	margin-top:22px;
}
.nav1 .nav_top1 .nav_exp1{
	width: 270px;
	height: 70px;
	float:left;
	margin-top:22px;

}
.nav1 .nav_top1 .nav_search1{
	width: 474px;
	height: 45px;
	float:right;
	margin-top:40px;
}
.searchBox1{
	float:left;
}
.search_input1{
	width: 400px;
	height: 40px;
	padding:0px 10px;
	/*font-size:20px;*/
	color:#00eef3;
	background-color: #000;
	border:1px solid #373737;

}
.button_search1{
	width: 50px;
	height: 40px;
	border:1px solid #373737;
	padding-right:13px;
	background: #000;
}
.magni1{
	float:right;
	font-size:20px ;
	border:px solid #373737;
	color:#373737;
	border:0px;
}

.nav_search1:hover .button_search1{
	border:1px solid #00eef3;
}
.nav_search1:hover .search_input1{
	border:1px solid #00eef3;
}
.nav_search1:hover .magni1{
	color:#00eef3;
}


.nav_bot1{
	width: 1226px;
	height: 36px;
	/*background: #144;*/
	margin:0 auto;
}

.nav_bot1 .nav_list_tab1{
	width: 234px;
	height: 36px;
	background: #00eef3;
	float:left;
}
.nav_bot1 .nav_list_tab1 .nav_tab11{

	font-size:15px;
	float:left;
	line-height:38px;
	margin-left:30px;
	cursor:default;
}
.nav_bot1 .nav_list_tab1 .nav_tab21{
	float:left;
	line-height:0px;
	padding-left:100px;
	margin-top: 20px;
}

.nav_bot1 .nav_kind1{
	width: 980px;
	height: 36px;
	float:left;
	padding-right:12px;
	overflow: hidden;

}
.nav_bot1 .nav_kind1 ul li{
	float:left;
	line-height:35px;
	font-size:17px;
	color:#999;
	margin-left:26px;
}
.nav_tab1{
	width: 100%;
	height:0px;
	background: white;
	/*border:1px dashed red;*/
	position:absolute;
	top:150px;
	left:0px;
	transition:all 0.3s 0.2s;
	
	overflow:hidden;
	z-index:99999;
	/*修改后ok*/
}
.nav_tab_con1{
	width: 1226px;
	height: 229px;
	margin:0 auto;
}


.nav_li11:hover .nav_tab11{
	height: 229px;
}
.nav_li21:hover .nav_tab21{
	height: 229px;
}
.nav_li31:hover .nav_tab31{
	height: 229px;
}
.nav_li41:hover .nav_tab41{
	height: 229px;
}

.nav_hot1{
	width: 110px;
	height: 170px;
	float:left;
	margin:0 auto;
	padding:35px 45px 0px;
	
}
.nav_hot1 img{
	width: 110px;
	margin:0px auto;

}
.nav_tab1 .nav_hot1 a{
	font-size:13px;
	text-align:center;
}


.nav_hot1 .nav_hot_name1{
	font-size:13px;
	color:black;
	display:block;
	width: 110px;
	height: 35px;
	overflow:hidden;
	text-align:center;

}


.nav_tab1 .nav_hot_price1{
	font-size:13px;
	color:#00eef3;
	display:block;

	text-align:center;
}
.top{
	width: 100%;
	height: 40px;
	background: #272727;
}
	.top-container{
		width: 1226px;
		height: 40px;
		margin: 0 auto;
	}
		.topbar_nav{
			width: 690px;
			height: 40px;
			float:left;	
		}
			.topbar_link{
				width: 60px;
				height: 40px;
				float:left;
				margin:0 5px;
				font-size:12px;
				line-height:40px;
				text-align:center;
				color: #999999;
			}
			.topbar_nav span{
				float:left;
				font-size:12px;
				line-height:40px;
				text-align:center;
				color: #999999;
			}
		.topbar_info1{
			width: 70px;
			height: 40px;
			font-size:12px;
			color:#999999;
			text-align:center;
			line-height:40px;
			float:right;
			margin-left:10px;
		}
		.topbar_span{
			width: 2px;
			height: 40px;
			font-size:12px;
			color:#999999;
			text-align:center;
			line-height:40px;
			float:right;
			margin-left:10px;
		}
		.topbar_info2{
			width: 30px;
			height: 40px;
			font-size:12px;
			color:#999999;
			text-align:center;
			line-height:40px;
			float:right;
			margin-left:10px;
		}
		.topbar_info3{
			width: 120px;
			height: 40px;
			font-size:12px;
			/*color:#999999;*/
			text-align:center;
			line-height:40px;
			float:right;
			margin-left:10px;
			background: #424242;
			position:relative;
		}
		.topbar_info3:hover{
			/*color:#00eef3;*/
			background: #000;
		}
			.top_carmenu{
				width: 316px;
				height: 0px;
				text-align:center;
				line-height:100px;
				background: #fff;
				font-size:12px;
				position:absolute;
				right:0px;
				top:40px;
				transition:all 0.3s;
				overflow:hidden;
			}
			.topbar_info3:hover .top_carmenu{
				height:100px;
			}
/*head头开始*/
.header{
	width: 100%;
	height: 150px;
	background: #141414;
}
	.header_container{
		width: 1226px;
		height: 150px;
		margin: 0 auto;

	}
		/*首页图片及搜索框开始*/

		.header_firstline{
			width: 1226px;
			height: 90px;
			margin-bottom: 20px;
			/*margin: 0 auto;*/
			
		}
			.header_img1{
				width: 234px;
				height: 70px;
				float:left;
				margin-top:16px;
				overflow:hidden;
			}
			.header_img2{
				width: 270px;
				height: 70px;
				float:left;
				margin-top:16px;
				overflow:hidden;
			}
			.head_search{
				width: 480px;
				height: 70px;
				float:right;
				margin-top:16px;
				overflow:hidden;
			} 	
				.head_search1{
					width: 420px;
					height: 42px;
					font-size:15px;
					float:left;
					margin-top:19px;
				}
				.head_search1 input{
					width: 420px;
					height: 42px;
					font-size:15px;
					border:1px solid #999999;
					background: #141414;
					color:#00eef3;
				}
				.head_button1{
					width: 52px;
					height: 46px;
					float:left;
					margin-top:19px;
				}
				.head_button1 button{
					width: 52px;
					height: 46px;
					color:#999999;
					font-size:18px;
					border:1px solid #999999;
					background: #000;
				}
				.head_search:hover input{
					border:1px solid #00eef3;
				}
				.head_search:hover button{
					border:1px solid #00eef3;
					color:#00eef3;
				}

		/*首页图片及搜索框结束*/

		/*首页商品列表开始*/
		.header_secondline{
			width: 1226px;
			height: 40px;
			/*margin: 0 auto;*/
			
		}
			.head_list1{
				width: 234px;
				height: 40px;
				float:left;
				font-size:17px;
				line-height:40px;
				/*text-align:center;*/
				background: #00eef3;
				position:relative;
			}

			.head_list1 span{
				float:left;
				margin-left:25px;
			}
			.head_list1 b{
				float:right;
				margin-right: 17px;
			}
				.head_main_list{
					width: 234px;
					height: 460px;
					position:absolute;
					left:0px;
					top:40px;
					background: #2e2e2e;
					color:white;
					display:none;
					z-index:9999;
				}
				.head_main{
					width: 234px;
					height: 50px;
					margin-top:1px;
				}
				.head_list1:hover .head_main_list{
					display:block;
				}
				.head_main:hover{
					cursor:pointer;
					background: #00eef3;
					color:#000;
				}

			.head_list2{
				width: 86px;
				height: 40px;
				float:right;
				margin-left:3px;
				font-size:16px;
				line-height:40px;
				text-align:center;

			}

/*display开始*/

.home_slider_infobox{
	width: 0px;
	height: 458px;
	background: #fff;
	position:absolute;
	z-index:30;
	left:234px;
	top:0px;
	overflow:hidden;
}

.home_slider_infobox .info_left{
	width: 490px;
	height: 458px;
	float:left;
}
.home_slider_infobox .info_right{
	width: 236px;
	height: 458px;
	float:right;
	background: #e6e6e6;

}
.home_slider_infobox .info_left .homeinfo_head{
	display:block;
	width: 450px;
	height: 43px;
	border-bottom:1px solid #f5f5f5;
	margin-left:15px;
}
.home_slider_infobox .info_left .home_cell{
	width: 210px;
	height: 40px;
	/*border-top:1px solid #f5f5f5;*/
	margin-left:20px;
}


.home_slider_infobox .info_left a{
	float:left;
	margin-top:6px;
}
.home_slider_infobox .info_left a .info_1{
	float:left;
	line-height:43px;
	margin-left:30px;
	color:black;
}
.home_slider_infobox .info_left a .info_2{
	float:right;
	line-height:40px;
	margin-right:10px;
	color:black;
}

.home_slider_infobox .info_left a .info_3{
	float:left;
	width: 40px;
}
.home_slider_infobox .info_left a .info_4{
	float:right;
	line-height:40px;
	margin-right:10px;
	color:black;
}
.info_right .home_cell_right{
	width: 220px;
	height: 215px;
	float:left;
	/*border:1px dashed red;*/
	margin-top:8px;
	margin-left:7px;
}
.info_right .home_cell_right img{
	width: 220px;
}

.head_main:hover .home_slider_infobox{
	width:726px;
	opacity:1;
}




/*home轮播图部分结束*/

/*home_sub 部分开始*/

.home_sub{
	width: 1226px;
	height: 172px;
	margin:15px auto;
	background: #fff;
}

.home_sub_container1{
	width: 228px;
	height: 164px;
	padding:3px;
	background: #00eef3;
	float:left;
}
.home_sub_container2{
	width: 316px;
	height: 170px;
	float:left;
	margin-left:14px;

}
.home_sub_container1 ul li{
	width: 82px;
	height: 52px;
	/*border:1px solid black;*/
	float:left;
	padding:15px;
	line-height:26px;
	text-align:center;
	color:black;
}

.home_sub_container3{
	width: 286px;
	height: 140px;
	padding:14px;
	border:1px solid black;
	float:left;
	margin-left:15px;
	background: #2e2e2e;


}
.home_news_tab{
	width: 286px;
	height: 22px;

}

.home_news_tab span{
	float:left;
	font-size:18px;
	line-height:22px;
	color:#00eef3;
}

.home_news_tab a{
	float:right;
	font-size:14px;
	line-height:22px;
}
.home_sub_container3 ul li span{
	font-size:12px;
	line-height:24px;
	color:#00eef3;
}
.home_sub_container3 ul li a{
	font-size:12px;
	line-height:24px;
	color:#cccccc;
	
}
.home_sub_container3 ul li a:hover{color:#00eef3;}
.home_sub_container3 ul li a:active{color:#00eef3;}
.home_sub_container3 ul li a:focus{color:#00eef3;}

/*home_sub 部分结束*/



/*nav开始*/
.nav_tab{
	width: 100%;
	height:0px;
	background: white;
	/*border:1px dashed red;*/
	position:absolute;
	top:190px;
	left:0px;
	transition:all 0.3s 0.2s;
	overflow:hidden;
	z-index:99999;
	/*修改后ok*/
}
.nav_tab_con{
	width: 1226px;
	height: 229px;
	margin:0 auto;
}
.nav_hot{
	width: 110px;
	height: 110px;
	float:left;
	margin:0 auto;
	padding:35px 45px 0px;
	
}
.nav_hot img{
	width: 110px;
	margin:0px auto;

}
.nav_tab .nav_hot a{
	font-size:13px;
	text-align:center;
}


.nav_hot .nav_hot_name{
	font-size:13px;
	color:black;
	display:block;
	width: 110px;
	height: 35px;
	overflow:hidden;
	text-align:center;

}


.nav_tab .nav_hot_price{
	font-size:13px;
	color:#00eef3;
	display:block;

	text-align:center;
}

.nav_li1:hover .nav_tab1{
	height: 229px;
}
.nav_li2:hover .nav_tab2{
	height: 229px;
}
.nav_li3:hover .nav_tab3{
	height: 229px;
}
.head_list2:hover .nav_tab4{
	height: 229px;
}
/*header结束*/
/*主题色*/
.color{
  width: 100%;
  height: 2px;
  background: #00eef3;
}
/*主题色*/

/*nav开始*/
.nav{
	width: 100%;
	height: 40px;
	background: #00eef3;
	margin: 0 auto;
	padding-top:2px;
}
.nav_bg{
	width: 100%;
	height: 40px;
	background: #f5f5f5;
}
.nav_container{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	line-height:40px;
	font-size:13px;
}
.nav_container a{
	color:#757575;
}
.nav_container span{
	color:#757575;
}

/*nav结束*/

.detail{
	width: 100%;
	/*height: 700px;*/
	padding-top:30px;
}
.detail_container{
	width: 1226px;
	/*height: 940px;*/
	margin: 0 auto;
}
.detail_left{
	width: 790px;
	height: 550px;
	float: left;
}
.detail_leftFloat{
	width: 80px;
	height: 493px;
	float: left;
	overflow: hidden;
}
.detail_leftFloat img{
	width: 60px;
}
.detail_floatPic{
	width: 60px;
	height: 60px;
	padding: 5px;
	margin:10px 5px;
	border:1px solid #999999;
}

.detail_leftpic{
	width: 480px;
	height: 470px;
	float: right;
	margin-right:100px;
	position:relative;
}
.detail_leftpic img{
	width: 480px;
}
.detail_leftcoin{
	position:absolute;
	bottom:5px;
	left:20px;

}
.detail_leftcoin img{
	width: 50px;
	cursor:pointer;
}


.detail_right{
	width: 420px;
	height: 950px;
	float: right;
	/*background: #6cf;*/
}
.detail_rightTop{
	width: 420px;
	height: 170px;
}
.detail_rightTop b{
	font-size: 30px;
}
.detail_rightTop p{
	font-size: 15px;
	color: #616161;
}
.detail_rightTop del{
	color: #8c8c8c;

}
.detail_rightMiddle{
	width: 420px;
	height: 66px;
	border-top :1px solid #e0e0e0;
	border-bottom :1px solid #e0e0e0;
	/*margin-top:20px;*/
	line-height: 66px;
}
.detail_rmprice{
	background: #b9000f;
	color:white;
}
.detail_rightMiddle b{
	font-size: 27px;
	color: #b9000f;
}
.detail_rightMiddle span{
	color:#b9000f;
}

.detail_rmprice{
	display:inline;
}
.detail_rightmidd{
	width: 420px;
	height: 155px;
	line-height: 36px;
}
.detail_rightmidd a{

	color: #5E69AD;
}
.detail_rightmidd img{
	line-height: 20px;
	width: 20px;
}
.detail_rightmidd li{
	color: #8c8c8c;
	font-size: 14px;
}

.datail_phoneBuy{
	color: #005AA0;
	font-size: 14px;
	position: relative;
}
.detail_phoneBox{
	width: 200px;
	height: 225px;
	position:absolute;
	top: 0px;
	left: 0px;
	display:none;
	overflow:hidden;
}
.datail_phoneBuy span{
	color: #5e69ad;
}
.detail_phoneBox img{
	width: 200px;
	margin-top:25px;

}

.datail_phoneBuy:hover .detail_phoneBox{
	display:block;
	box-shadow:0px 0px 10px #999999;
}
.datail_phoneBuy:hover{
	color:red;
}
.detail_right_midbott{
	width: 420px;
	height: 200px;
}
.detail_right_midbott .deta_li{
	width: 420px;
	height: 48px;
	margin: 0 auto;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 48px;
}
.det_righleft{
	width: 70px;
	float: left;
}
.det_rightr{
	width: 340px;
	float: right;
}
.det_rrcontainer1{
	width: 268px;
	height: 20px;
	border: 2px solid #00bcbf;
	line-height: 20px;
	padding: 2px;
	margin-top: 10px;
}

.det_rrcontainer2{
	width: 72px;
	height: 20px;
	border: 2px solid #00bcbf;
	line-height: 20px;
	padding: 2px;
	margin-top: 10px;
}
.deta_li{
	/*background: #fff;*/
}
.deta_li input{
	width: 18px;
	height: 18px;
	color: #00eef3;
	background-color: #fff;
	border: 2px solid #ddd;
	vertical-align: middle;
}
.detail_right_bottop{
	width: 420px;
	height: 110px;
}
.detail_numcontai{
	float: left;
}
.detail_num{
	width: 66px;
	height: 29px;
	text-align: center;
	border: 0;
}



.det_num1{
	width: 70px;
	font-size: 14px;
	color: #8c8c8c;
}
.det_num1 input{
	width: 70px;
	height: 14px;
}
.det_num2{
	width: 120px;
	height: 32px;
	border: 1px solid #999999;
	text-align: center;
	line-height: 32px;
	position: relative;
	margin-left: 16px;

}
.det_num2 .detail_block1{
	width: 30px;
	height: 32px;
	background: #eeeeee;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0px solid #999999;
}
.det_num2 .detail_block2{
	width: 30px;
	height: 32px;
	background: #eeeeee;
	position: absolute;
	right: 0px;
	top: 0px;
	border: 0px solid #999999;
}

.det_num3{
	width: 75px;
	height: 32px;
	border: 1px solid #999999;
	background: #eeeeee;
	line-height: 32px;
	text-align: center;
	margin-left: 60px;
}
.det_num3 input{
	width: 18px;
	height: 18px;
	color: #00eef3;
	background-color: #fff;
	border: 2px solid #ddd;
	vertical-align: middle;
}
.det_num4{
	width: 30px;
	height: 32px;
	line-height: 32px;
	color: #8c8c8c;
	font-size: 14px;
	text-align: center;
}
.detail_payway{
	width: 420px;
	height: 50px;
	margin-top: 20px;
	font-size: 14px;
	color: #8c8c8c;
	text-align: left;
	line-height: 50px;
}
.detail_right_botmid{
	width: 420px;
	height: 70px;
}
.detail_section{
	width: 130px;
	height: 70px;
	float: left;
	margin: 0 4px;
	border: 1px solid #ebebeb;
	line-height: 12px;
	text-align: center;
	color: #8c8c8c;
}
.detail_section:hover{
	border: 1px solid #00eef3;
}
.detail_right_botbot{
	width: 420px;
	height: 50px;
	margin: 30px auto;
}
.detail_joinCart{
	float: left;
	width: 260px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #00eef3;
	transition:all 0.5s ;
	color:black;
	border: 0;
}
.detail_joinCart:hover{
	background: #00bcbf;
}
.detail_like{
	float: right;
	width: 140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: #b0b0b0;
	color: white;
	transition:all 0.5s ;
}
.detail_like:hover{
	background: #757575;
}
.detail_right_botbottom{
	width: 	380px;
	height: 20px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	padding:20px;
	color: #8c8c8c;
}
.detail_rightbotbcontain{
	width: 120px;
	height: 20px;
	float: left;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}
.detail_right_botbottom span{
	float: left;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}
.detail_bottom{
	width: 100%;
	height: 60px;
	float: left;
	border-top: 1px solid #e0e0e0;
}
.detail_bottomContainer{
	width: 706px;
	height: 20px;
	margin: 0 auto;
	font-size: 18px;
	color: #8c8c8c;
	padding:20px 260px;

}
.det_botword{
	float: left;
	width: 170px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color:#999999;
}
.detail_bottomContainer span{
	float: left;
}
/*detail结束*/

/*describe开始*/
.describe{
	width: 100%;
	background: #f5f5f5;
	padding-bottom:60px;
}
.describe_container{
	width: 1226px;
	/*height: 2000px;*/
	margin: 0 auto;
}

.describe_main{
	width: 790px;
	margin:0 auto;
}
/*.desc_img{
	width: 790px;
}*/
.desc_img img{
	width: 790px;
}
.describe_parameter{
	width: 1226px;
	margin-top:40px;
}
.des_paraTitle{
	width: 1226px;
	height: 60px;
	margin: 10px auto;
}
.des_paraLine{
	width: 1226px;
	height: 30px;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
.des_paraWord{
	width: 300px;
	height: 30px;
	font-size: 30px;
	color: #b0b0b0;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top:10px;
	left:460px;
	background: #f5f5f5;
}
.des_paraMain{
	width: 1226px;
	margin: 0 auto;
	padding: 60px 50px 0 50px ;
	background: white;
}
.des_paraLeft{
	width: 240px;
	height: 180px;
	float: left;
}
.des_paraLeft img{
	width: 150px;
}
.des_paraRight{
	width: 960px;
	float: right;
}
.des_paraRight table{
	font-size: 14px;
	width: 960px;
	height: 550px;
}
.des_paraTotal{
	width: 1178px;
	height: 119px;
	padding:40px 0 40px 48px;
	background: #fff;
}
.des_paraTotalleft{
	width: 280px;
	text-align: center;
	float: left;

}
.des_paraTotalleft p{
	font-size: 30px;
	color:#00d7d3;
	margin:0px;
}
.des_paraTotalleft b{
	font-size: 80px;
}
.des_paraTotalrigh{
	width: 800px;
	height: 114px;
	float: left;
}
.des_paraconcell{
	width: 75px;
	height: 35px;
	padding:0 20px;
	border: 1px solid #ebebeb;
	border-radius:17px;
	float: left;
	line-height: 35px;
	text-align: center;
	margin: 10px 10px;
	cursor:pointer;
}
.des_helpfulEsit{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	line-height: 80px;
	font-size: 20px;
}
.des_esitimate{
	width: 1206px;
	/*height: 360px;*/
	padding:20px;
	background: #fff;
	border-left: 2px solid #ffac13;
	margin-top: 20px;
}
.estimate_toplef{
	width: 54px;
	height: 54px;
	border-radius:27px;
	overflow:hidden;
	margin-top: 20px;
	float: left;
	
}
.estimate_toplef img{
	width: 54px;
}
.estimate_topcenter{
	width: 890px;
	/*height: 300px;*/
	float: left;
	margin-top: 20px;
	padding:20px;
}
.esti_topcentercontai{
	width: 890px;
	height: 114px;
	/*float: left;*/
}
.esti_topcentercell{
	width: 75px;
	height: 35px;
	padding:0 20px;
	border: 1px solid #ebebeb;
	border-radius:17px;
	float: left;
	line-height: 35px;
	text-align: center;
	margin: 10px 10px;
	cursor:pointer;
}
.esti_topcenter2{
	font-size: 18px;
	color: #757575;

}
.esti_topcenter3{
	width: 890px;
	/*height: 100px;*/
	margin: 10px;
	border-top: 1px solid #e0e0e0;
}

.esti_topcenter3 img{
	width: 87px;
	height: 87px;
	margin-top: 10px;
}
.estimate_topright{
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	float: right;
	color: #ffd600;
	margin: 50px 20px 0 0;


}
.estimate_topright span{
	font-size: 20px;
}
.estimate_bot{
	width: 1206px;
	height: 40px;
	float: left;
}
.est_botleft{
	width: 300px;
	height: 40px;
	float: left;
	font-size: 12px;
	color: #b0b0b0;
}
.est_botright{
	width: 300px;
	height: 40px;
	float: right;
	font-size: 14px;
	color: #8c8c8c;
}
.est_botrightcell{
	float: left;
	margin-left: 50px;
}
.guarantee_container{
	width: 990px;
	margin:0 auto;
}
.guarantee_cell img{
	width: 990px;
}
.another_paraWord{
	width: 450px;
	height: 30px;
	font-size: 30px;
	color: #b0b0b0;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top:10px;
	left:400px;
	background: #f5f5f5;
}
.another_show{
	width: 1226px;
	height: 300px;
	background: #fff;

}
.another_cell{
	width: 205px;
	height: 260px;
	padding:20px;
	text-align: center;
	font-size: 14px;
	float: left;
}

.another_des{
	width: 190px;
	height: 40px;
}












/*footer页面开始*/
.footer{
	width: 100%;
	height: 272px;
	background: #272727;
	margin:0 auto;
}
.footer_container{
	width: 1226px;
	height: 272px;
	margin:0 auto;
	background: #272727;

}
.footer_top{
	width: 1226px;
	height: 80px;
	margin:0 auto;
	border-bottom:1px solid #373737;
}
.footer_top_name{
	width: 240px;
	height: 80px;
	float:left;
	margin:0px 2px ;
	line-height:80px;
	text-align:center;
	color:;
}
.footer_top_name a{
	color:#999999;
}
.footer_top_name a:hover{color:#00eef3;}
.footer_bottom{
	width: 1226px;
	height: 122px;
	padding-top:40px;
}
.footer_bottom_l1{
	width: 110px;
	height: 112px;
	float:left;
}
.footer_bottom_l1 dl{
	color:#999999;
}

.footer_bottom_l1 dt{
	line-height:26px;
}
.footer_bottom_l1 img{
	width: 70px;
}

.footer_bottom_l2{
	width: 208px;
	height: 100px;
	float:right;
	text-align:center;
	padding-top:10px;
	border-left:1px solid #e0e0e0;
}
.footer_bottom_l2 p{
	font-size:18px;
	color:#00eef3;
	margin:0;

}
.footer_bottom_l2 span{
	color:#999999;
	font-size:12px;

}
.footer_bottom_l2 button{
	width: 150px;
	height: 36px;
	border:1px solid #00eef3;
	font-size:15px;
	background: #272727;
	color:#00eef3;
	transition:all .5s;
}
.footer_bottom_l2 button:hover{
	background: #00eef3;
	color:#000;
}
.footer_bottom{
	width: 1226px;
	height: 112px;
}

/*footer结束*/


/*info开始*/
.info{
	width: 100%;
	height: 80px;
	background: #141414;
}
.info_container{
	width: 1226px;
	height: 80px;
	margin:0 auto;
}
.info_botto_left{
	width: 700px;
	height: 38px;
	padding:20px 0px;
	float:left;

}
.info_botto_left p{
	font-size:13px;
	line-height:13px;
	margin:0px;

}
.info_botto_left span{
	font-size:12px;
	line-height:25px;
	color:#999999;
	
}
.info_botto_right{
	width: 500px;
	height: 38px;
	padding:20px 0px;
	float:right;
}
.info_botto_right img{
	width: 70px;
	float:right;
	margin-left:20px;
	margin-top:10px;
}
/*info页面结束*/

/*悬浮窗开始*/
.float_box{
	width: 80px;
	height: 246px;
	position:fixed;
	bottom:40px;
	right:60px;
}

.float_box_container{
	width: 75px;
	height: 58px;
	background: #494949;
	margin:3px 0px;
	text-align:center;
	line-height:27px;
	color:#fff;
	font-size:15px;
	position:relative;
	transition:all .5s;
	overflow:hidden;
}
.float_box_container img{
	width: 40px;

}
.float_box_container p{
	margin:0px;
	line-height:10px;
}
.float_box_container span{
	font-size:30px;
	line-height:40px;
}
.va_middle{
	line-height:88px;
}
.va_middle1{
	line-height:67px;
}
.va_show{
	background: #00eef3;
}
.float_hidden{
	width: 150px;
	height: 50px;
	background: #494949;
	position:absolute;
	right:150px;
	top:3px;
	opacity:0;
	transition:all .5s;
}
.float_hidden p{
	font-size:18px;
	line-height:50px;
}
.hidden_big{
	width: 150px;
	height: 161px;
	background: white;
}
.hidden_big img{
	width: 150px;
}


.float_box_container:hover{
	color:#000;
	background: #00eef3;
	overflow:visible;
}
.float_box_container:hover .float_hidden{
	right:75px;
	color:white;
	opacity:1;
}



